<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firedance.gps.dao.ServerProviderMapper">
    <resultMap id="BaseResultMap" type="com.firedance.gps.model.ServerProvider">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="mount_point" property="mountPoint"/>
        <result column="origin" property="origin"/>
        <result column="create_date_time" property="createDateTime"/>
    </resultMap>
    <sql id="base_sql">
        id,ip,port,mount_point,origin,create_date_time
    </sql>
    <insert id="insert" parameterType="com.firedance.gps.model.ServerProvider">
        insert into server_provider(id,ip,port,mount_point,origin,create_date_time,is_delete)
        values (#{id},#{ip},#{port},#{mountPoint},#{origin},NOW(),0)
    </insert>
    <select id="list" parameterType="com.firedance.gps.controller.param.ServerProviderQueryParams" resultMap="BaseResultMap">
        select <include refid="base_sql"/> from server_provider
        where
        is_delete = 0
        <if test="ip!=null and ip!=''">
            and ip like concat('%',#{ip},'%')
        </if>
        <if test="port!=null and port!=''">
            and port like concat('%',#{port},'%')
        </if>
        <if test="mountPoint != null and mountPoint!= ''">
            and mount_point = #{mountPoint}
        </if>
        order by mount_point,create_date_time desc
    </select>
    <update id="update" parameterType="com.firedance.gps.model.ServerProvider">
        update server_provider
        <set>
            <if test="ip != null and ip!=''">
                ip = #{ip},
            </if>
            <if test="port != null and port!=''">
                port = #{port},
            </if>
            <if test="mountPoint != null and mountPoint!=''">
                mount_point = #{mountPoint},
            </if>
            <if test="delete != null">
                is_delete = #{delete},
            </if>
        </set>
        where
        id=#{id}
    </update>
</mapper>
